@model Web.Models.Movies.MovieViewModel

<div>
    <a href="#" data-id="@Model.Id" data-favId="@Model.FavoriteMovieId" data-isFav="@Model.IsFavorite" class="js-add-fav btn btn-success">Add to favorite</a>
</div>